**/.{git,svn,hg}/**
**/node_modules/**
**/build/**
**/dist/**
**/coverage/**
**/.yarn/**
**/.vscode/pnpify/**

.prettierignore
.editorconfig
.eslintignore
.gitattributes
.gitignore
.DS_Store
*.ico
*.png
*.txt
*.svg
*.lock
*.zip
*.sh
*.pem
*.crt
*.key
*.req

/.pnp.js

.env*
