:root {
  font-family: "itc-clearface-bold";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.webgl {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 75vw;
  height: 100%;
  left: 12.5vw;
  bottom: 11vh;
}
#container {
  position: fixed;
  width: 75vw;
  height: 75vh;
  left: 12.5vw;
  top: 10vh;
}

canvas {
  display: block;
  z-index: -1;
}

#controls-wrapper {
  position: fixed;
  display: none;
  z-index: 1;
  opacity: 0.8;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 11vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: brown;
}

.switch-wrapper {
  display: flex;
  order: 0;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.amount-wrapper {
  display: flex;
  order: 2;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

span {
  justify-self: center;
  font-size: 1.5em;
  color: white;
  padding: 0;
  margin: 0;
}

span.active {
  color: rgb(69, 197, 133);
}

.btn {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 0.9;
}

.btn-main {
  width: 70px;
  height: 70px;
  outline: 0;
  order: 1;
}

.btn:active {
  opacity: 0.5;
}

.select {
  width: 50px;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px double white;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 500px) {
  #controls-wrapper {
    flex-direction: column;
    height: 30%;
    bottom: 5%;
  }

  .switch-wrapper, .amount-wrapper {
    width: 100%;
    height: 30%;
  }

  .btn-main {
    order: 0;
    height: 65px;
    width: 65px;
  }

  .amount-wrapper {
    order: 1;
  }

  .switch-wrapper {
    order: 2;
  }
}

@font-face {
  font-family: "itc-clearface-black-italic";
  src: url("./assets/fonts/itc-clearface-W03-Black-italic.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-black";
  src: url("./assets/fonts/itc-clearface-W03-Black.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-bold-italic";
  src: url("./assets/fonts/itc-clearface-W03-Bold-Italic.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-bold";
  src: url("./assets/fonts/itc-clearface-W03-Bold.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-heavy-italic";
  src: url("./assets/fonts/itc-clearface-W03-Heavy-Italic.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-heavy";
  src: url("./assets/fonts/itc-clearface-W03-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-regular-italic";
  src: url("./assets/fonts/itc-clearface-W03-Regular-Italic.otf") format("opentype");
}

@font-face {
  font-family: "itc-clearface-regular";
  src: url("./assets/fonts/itc-clearface-W03-Regular.otf") format("opentype");
}
